.news_honbun{
    font-size: 14px;
    position: relative;
    bottom: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_honbun2{
    font-size: 14px;
    position: relative;
    bottom: 78px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_honbun3{
    font-size: 14px;
    position: relative;
    bottom: 58px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_honbun4{
    font-size: 14px;
    position: relative;
    bottom: 80px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_pic_kan_explain{
    font-size: 9px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.pic_aoi_explain{
    font-size: 9px;
    margin: 0;
    padding: 0;
}
.news_title{
    font-size: 13px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
.news_date{
    font-size: 11px;
    position: relative;
    left: 240px;
    bottom: 115px;
    margin: 0;
    padding: 0;
    width: 100px;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_sns{
    overflow: hidden;
    letter-spacing: -.5em;
    margin: 0;
    padding: 0;
}
.header_search{
    position: relative;
    left: 320px;
    margin: 0;
    padding: 0;
    width: 24px;
    bottom: 20px;
}
.facebook{
    position: relative;
    left: 45px;
    bottom: 41.5px;
    margin: 0;
    padding: 0;
}
.line{
    position: relative;
    left: 90px;
    bottom: 83px;
    margin: 0;
    padding: 0;
}
.news_pic_kan_explain{
    position: relative;
    bottom: 78px;
    margin: 0;
    padding: 0;
}
.pic_aoi_explain{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.news_pic_aoi{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 58px;
}
.news_kan{
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}
.header_title{
    position: relative;
    top: 20px;
}
.news_pic_kan{
    position: relative;
    bottom: 78px;
}