
.news_honbun{
    font-size: 14px;
    position: relative;
    bottom: 80px;
}
.news_honbun2{
    font-size: 14px;
    position: relative;
    top: 70px;
}
.news_honbun3{
    font-size: 14px;
    position: relative;
    top: 100px;
}
.news_honbun4{
    font-size: 14px;
    position: relative;
    bottom: 80px;
}
.news_pic_kan_explain{
    font-size: 4px;
}
.pic_aoi_explain{
    font-size: 4px;
}
.news_title{
    font-size: 15px;
}
.news_date{
    font-size: 11px;
    position: relative;
    left: 240px;
    bottom: 115px;
}
.news_sns{
    overflow: hidden;
    letter-spacing: -.5em;
}
.header_search{
    position: relative;
    left: 320px;
}
.facebook{
    position: relative;
    left: 45px;
    bottom: 41.5px;
}
.line{
    position: relative;
    left: 90px;
    bottom: 83px;
}
.news_pic_kan_explain{
    position: relative;
    top: 70px;
}
.pic_aoi_explain{
    position: relative;
    top: 70px;
}
.{
    text-align: center;
}